body{
    background-color: rgb(194, 216, 233);
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    display:flex;
}
#body{
    display:flex;
    flex-direction: column;
    width:340px;
    height:412px;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
}
#screen{
    width:300px;
    height:60px;
    background-color: darkgray;
}
#buttons{
    width:352px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
button{
    width: 67.5px;
    height: 52.4px;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#github-page{
    width: 145px;
    height: 52.4px;
}