/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
body{
    background-color: rgb(194, 216, 233);
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    display:flex;
}
#body{
    display:flex;
    flex-direction: column;
    width:340px;
    height:412px;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
#screen{
    width:295px;
    height:55px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow-x: auto;
    white-space: nowrap;
}
#buttons{
    width:352px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
button{
    width: 67.5px;
    height: 52.4px;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border-radius: 30px;
    font-size: medium;
}
button:hover {
    background-color: lightblue;
}
#github-page{
    width: 145px;
    height: 52.4px;
    background-color: #674ea7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.number {
    background-color: #d9ead3;
}
.operation {
    background-color: #c9daf8;
}
.clearance {
    background-color: #fbbc04;
}

.github-logo {
    max-width: 28px;
    max-height: 28px;
    color: var(--font);
    transition: transform 0.3s ease-in-out;
}
.github-logo:hover {
    transform: rotate(360deg) scale(1.2);
}
a{
    text-decoration: none;
}
p{
    font-size: 28.2px;
    font-weight: 700;
}